node_modules
.turbo
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Next.js
.next
out
build
dist

# LCTMR
apps/lctmr-legacy/test-results
apps/lctmr-legacy/playwright-report
